/deep/ body {
  overflow-y: auto !important;
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animate {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.copy {
  margin-bottom: 8px;
}


.bold {
  color:#535353;
  font-weight: 500;
}


.public-input {
  margin-top: 20px;
  width: 335px;
  margin-bottom: 5px;
}

.btn-check {
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-block {
  border-bottom: 0;
}

.card-footer {
  border-top: 1px solid #d1d0d0;
  overflow: hidden;
  font-size: 16px;
  color:#d1d0d0 !important;
  background-color: #535353 !important;
 }
 .toast {
   color: #235d8d !important;
 }
.red {
  color: #e04848;
}


.constitution {
  border: 1px solid #484848;
  border-radius: 4px;
  padding: 10px 10px;
  max-height: 260px;
  margin-top: 5px;
  overflow-y: scroll;
  color: #808080;
  margin-bottom: 10px;
}

/deep/ .modal-body {
  height: 100%;
}

/deep/ .clr-wizard-content {
  height: 100%;
}

.exoduspage.active {
  display: flex !important;
  flex-flow: column;
  height: 100%;
}

.instructions {
  flex: 0 1 auto;
  color: #8c8c8c;
}

.main-item {
  color: #a7a7a7;
}

.remaining-height {
  flex: 1 1 auto;
  border: 2px dashed #535353;
  margin-top: 5px;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
}

.afterdrop {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}





.fit-content {
  overflow: -webkit-paged-x;
}

/*start edit by Thangdn*/

#textarea {
  background: #fff;
  border: 2px solid #065e8d;
}

.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../../assets/bg2.jpg");
  background-size: cover;
  background-position: center top;
}

.container-fluid {
  flex-grow: 1;
  padding-bottom: 40px;
}

.anim-logo {
 
  /*margin-top: 80px;*/
  margin-top: 41px;
}

.slogan {
  font-size: 23px;
  font-family: Metropolis,Avenir Next,Helvetica Neue,Arial, sans-serif;
  color: #4f799b;
}
.check-card {
  border: none;
  background-color: rgba(35, 93, 141, 0.84);
  margin-top: 20px;
  width: 550px;
}

.info {
  font-size: 18px;
  color: #d1d0d0;
}
.alert-app-level .alert-item .btn, .alert-app-level .alert-item .btn .btn, .btn-inverse .btn, .btn.btn-inverse {
  background-color: #4c779a;
  color: #fff;
  border-radius: 20px;
  padding: 0 20px;
}
.card {
  box-shadow: none;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  color: #717171;
}

.advanced {
  color: #fff;
  font-size: 14px;
  text-align: center !important;
}
.warn {
  color: #fff;
}
.card-block, .card-footer, .card-header, .card > .list, .card > .list-unstyled {
  padding: 0.9rem .75rem;
}
.mat-hint {
  font-size: 11px !important;
  color: #535353;
}
.label-blue {
  font-size: 14px;
  color: #555;
  border-radius: 2px;
  padding: 14px 0.5rem;
  margin-bottom: 5px;
}
.copy:hover {
  cursor: pointer;
  color: #235d8d;
}
input {
  color: #535353 ;
}
.text-black {
  color: #535353;
}
.anim-logo img {
  margin-bottom: 30px;
  max-width: 70%;
  margin-top: 20px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
@media (max-width: 768px){
  .wrap {
    display: block;
  }
  .anim-logo {
    margin: 0;
  }
  .anim-logo img {
    max-width: 50%;
    margin: 20px 0 10px;
  }
  .slogan {
    font-size: 17px;
  }
  .info {
    font-size: 16px;
    line-height: 20px;
  }
  .public-input {
    margin-top: 0;
    width: 100%;
  }
  .check-card {
    margin-top: 10px;
  }
  .card-block, .card-footer, .card-header, .card > .list, .card > .list-unstyled {
    padding: 0.3rem .75rem;
  }
  .container-fluid {
    padding-bottom: 20px;
  }
  .alert-app-level .alert-item .btn, .alert-app-level .alert-item .btn .btn, .btn-inverse .btn, .btn.btn-inverse {
    width: 100%;
  }
  .btn-check {
    margin: 0;
  }
  .btn {
    max-width: 100%;
  }
  .check-card {
    width: 100%;
  }
  .float-left, .float-right {
    float: none;
    display: block;
  }
}
/*end edit by Thangdn*/
