<router-outlet></router-outlet>
<!-- <div *ngIf="checkLocalStorage() === 1"></div> -->
<!-- <div *ngIf="checkLocalStorage() === 0"><router-outlet></router-outlet></div> -->
<!-- <div *ngIf="1 === 1"> <router-outlet></router-outlet></div -->
<!--<div id="update-box" [ngClass]="update ? 'show' : ''">-->
    <!--<div>There is a new version available</div>-->
    <!--<div>Update?</div>-->
    <!--<button class="btn btn-info-outline btn-sm" style="margin-right: 5px;" (click)="performUpdate()">Yes</button>-->
    <!--<a class="btn btn-link btn-sm" (click)="openGithub()">View on Github</a>-->
<!--</div>-->
